/nbproject/
/images/
/tmp/
/update-git.log
/application/modules/qr/cache/
/application/modules/qr/log/php_errors.log
/application/config/
/tests/
/.buildpath
/.project
.settings/
.project
.buildpath
/anexos_sgr/
