@page  
{ 
    size: auto;   
    margin: 0mm 0mm 0mm 0mm;  
} 

/*==============   @SCREEN   ============== */
@media screen{
    
legend{
    font-weight: bold;
    font-size: 30px;
    color: #778FA5;
    opacity: 0.2;
    top:10px;
    left:10px;
    position: absolute;
    
  }
}

/*==============   @PRINT   ============== */
@media print{
    legend{display:none;}
     span{border: none !important;}
  
  
}


/*==============   @EVERYBODY!!   ============== */
  body  
{ 
    /* this affects the margin on the content before sending to printer */ 
    margin: 0px;  
} 

/*.mark{*/
/*  width:1mm;*/
/*  height:1mm;*/
/*  background-color:#000;*/
/*  position:absolute;*/
/*  color:black;*/
/*}*/
/*#mark4{left:1mm;top:50mm;}*/
/*#mark5{left:214mm;top:50mm;}*/
/*#mark3{left:22mm;top:50mm;}*/
/*#mark1{left:108mm;top:50mm;}*/
/*#mark2{left:192mm;top:50mm;}*/




  #wrapper_legal{
    width:215mm;
/*    height:355mm;*/
    position: relative;
    font-family: monospace;
    font-weight:bold;
    font-size: 8pt;
  }
  

 #talon{
    width:166mm;
    height:69mm;
    top:22mm;
    left:23mm;
    position: absolute;
    /*border:1px dotted;*/
  }/*
  
*/  #cabezal{
    width:166mm;
    height:38mm;
    top:116mm;
    left:23mm;
    position: absolute;
        /*border:1px dotted;*/
  }/*

*/  #cuerpo{
    width:188mm;
    height:158mm;
    top:158mm;
    left:15mm;
    position: absolute;
    padding-bottom: 35mm;
    font-weight:normal;
    /*border:1px dotted;*/
  }/*
  

*/  span{
      position: absolute;
      word-wrap: break-word;
  }
  
  /*============== TALON REMITENTE============*/
  
  .remitente_nombre{
  width:83mm;  height:14mm;
  top:10mm;
  }
  
  .remitente_domicilio{
  width:83mm;  height:8mm;
  top:26mm;
  }
  
  .remitente_cpa{
  width:25mm;  height:5mm;
  top:33mm;  left:0mm;
  }
  
  .remitente_localidad{
  width:30mm;  height:9mm;
  top:33mm;  left:27mm;
  }
  
  .remitente_provincia{
  width:28mm;  height:9mm;
  top:33mm;  left:57mm;
  }
  
  /*============== TALON DESTINATARIO============*/
  
  .destinatario_nombre{
  width:83mm;  height:14mm;
  top:10mm;
  left:85mm;
  }
  
  .destinatario_domicilio{
  width:83mm;  height:8mm;
  top:26mm;  left:85mm;

  }
  
  .destinatario_cpa{
  width:24mm;  height:5mm;
  top:33mm;   left:85mm;
  }
  
  .destinatario_localidad{
  width:30mm;  height:9mm;
  top:33mm;  left:112mm;
  }
  
  .destinatario_provincia{
  width:28mm;  height:9mm;
  top:33mm;  left:142mm;
  }