De acuerdo al análisis de la información presentada consideramos necesario profundizar el análisis para encontrar la mejor alternativa de financiamiento, le solicitamos que para ello complete y envíe a financiamiento@producción.gob.ar el archivo adjunto
que recibirá a la casilla indicada. Asimismo le informamos que para las características del proyecto y tipo de empresa presentado, el Ministerio de Producción ofrece la línea de crédito FONAPYME (Fondo Nacional de Desarrollo para la Micro, Pequeña y Mediana
Empresa), que otorga hasta $3 millones para Inversión Productiva y hasta $1,5 millones para capital de trabajo, con tasas desde 16% hasta 20% anual. Se deja constancia que la presente no implica el otorgamiento del derecho a la aprobación del crédito
en cuestión. Cualquier duda o dificultad que pudiera surgir, comunicarse con financiamiento@producción.gob.ar.
<br>
<br>