/* 
    Document   : genias
    Created on : 17/04/2013, 12:54:16
    Author     : gabriel
    Description:
        Purpose of the stylesheet follows.
*/


html {
	height: 100%;
}
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.observaciones{
  padding:0px 4px 4px 4px;
  margin-top:10px;
  background-color: #f0f0f0;
  border:1px dotted #ccc;
  border-top:1px solid #bfbfbf;
}

.line{
    border-top: 1px solid #fff;
    padding-bottom:6px;
}

/* Profile */

.profile{
    padding: 5px;
}
.profile img{
    width:50px;
    height:50px;
    border:2px solid #e1e4e2 ;
    margin-right:7px;
}

.profile ul li a{
    display:inline-block;
    margin-bottom: 8px;
    font-size:18px;
}


.form-inline{
    margin-bottom: 8px;
}

.general-sidenav {
    background-color: #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.067);
    margin: 30px 0 0;
    padding: 0;
    width: 228px;
}
.general-sidenav > li > a {
    border: 1px solid #E5E5E5;
    display: block;
    margin: 0 0 -1px;
    padding: 8px 14px;
}
.general-sidenav > li:first-child > a {
    border-radius: 6px 6px 0 0;
}
.general-sidenav > li:last-child > a {
    border-radius: 0 0 6px 6px;
}
.general-sidenav > .active > a {
    border: 0 none;
    box-shadow: 1px 0 0 rgba(0, 0, 0, 0.1) inset, -1px 0 0 rgba(0, 0, 0, 0.1) inset;
    padding: 9px 15px;
    position: relative;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    z-index: 2;
}
.general-sidenav .icon-chevron-right {
    float: right;
    margin-right: -6px;
    margin-top: 2px;
    opacity: 0.25;
}
.general-sidenav > li > a:hover {
    background-color: #F5F5F5;
}
.general-sidenav a:hover .icon-chevron-right {
    opacity: 0.5;
}
.general-sidenav .active .icon-chevron-right, .general-sidenav .active a:hover .icon-chevron-right {
    background-image: url("../img/glyphicons-halflings-white.png");
    opacity: 1;
}