<br>Este mail se envió en forma automática desde la página del Ministerio de Producción.
<br>Tengo el agrado de dirigirme a usted a efectos de comunicarle que, de acuerdo al análisis de la información presentada, en principio, su proyecto excede el monto otorgado por el Ministerio de Producción para proyectos de estas características. No obstante, solicitamos que tenga a bien completar el archivo que se adjunta, de manera de poder avanzar en el análisis del caso en busca de la mejor alternativa de financiamiento que se adecue a sus las características de su empresa y proyecto.
<br>Una vez completada la planilla, deberá enviarse a: financiamiento@producción.gob.ar con el asunto: ENVIO DE INFORMACIÓN ADICIONAL- NOMBRE DE EMPRESA.
<br>
<br>Cualquier duda o dificultad que pudiera surgir comunicarse con financiamiento@producción.gob.ar
