<br>Este mail se envió en forma automática desde la página del Ministerio de Producción.
<br>De acuerdo a los datos enviados mediante el formulario, hoy en día su solicitud podría canalizarse por medio de las líneas de crédito para Grandes Empresas disponibles en Banco BICE.
<br>En líneas generales, para proyectos de inversión, el financiamiento es de hasta $200 millones o su equivalente en dólares, con un plazo de hasta 15 años a tasa "Badlar Bancos Privados" más el spread que el BICE determine en cada caso. En dólares con un plazo de hasta 10 años en dólares, a tasa Libor más el spread que el BICE determine en cada caso.
<br>En caso de estar interesado, la empresa deberá hacer la presentación ante la entidad financiera para su calificación como sujeto de crédito de la línea.  La misma, deberá contener la información que se detalla en el adjunto Pre-análisis. 
<br>Para mayor información podrá ingresar al siguiente link  http://www.bice.com.ar/es/
<br>Se deja constancia que la presente no implica el otorgamiento del derecho a esa empresa a la aprobación del crédito en cuestión
<br>Cualquier duda o dificultad que pudiera surgir comunicarse con financiamiento@producción.gob.ar o  comercial@bice.com.ar.
<br><br>