<br>Este mail se envió en forma automática desde la página del Ministerio de Producción.
<br>De acuerdo al análisis de la información presentada consideramos necesario profundizar el estudio del caso para encontrar la mejor alternativa de financiamiento que se corresponda con las características de su empresa y proyecto.
<br>Una vez completada la planilla, deberá enviarse a: financiamiento@producción.gob.ar con el asunto: ENVIO DE INFORMACIÓN ADICIONAL- NOMBRE DE EMPRESA.
<br>Cualquier duda o dificultad que pudiera surgir comunicarse con financiamiento@producción.gob.ar
<br>