<br>Este mail se envió en forma automática desde la página del Ministerio de Producción. 
<br>De acuerdo al análisis de la información presentada, en principio, su proyecto se ajusta a ser financiado por la línea de crédito bancario "Parques Industriales".
<br>Se adjunta al presente la alternativa de financiamiento. En caso de estar interesado y cumplir con los requisitos, la empresa deberá presentar la documentación respaldatoria que se cita a continuación:
<br>Constancia de Clave Única de Identificación Tributaria (C.U.I.T.) firmada por el representante de la empresa. Podrá obtenerla ingresando al siguiente link: https://seti.afip.gob.ar/padron-puc-constancia-internet/ConsultaConstanciaAction.do

<br>Testimonio de Escritura Pública para Personas Físicas o Jurídicas según corresponda, conforme los modelos adjuntados.
<br>(Links de descarga de los modelos Adjuntos)
<br>Certificación Contable conforme al modelo propuesto por la Subsecretaría de Financiamiento de la Producción, certificada por el Consejo Profesional en Ciencias Económicas, suscripta por el representante legal y el Contador Público en todas sus hojas.
<br>(Modelo de Certificación Contable)
<br>Constancia emitida por la Unidad de Desarrollo Industrial Local (UDIL) que acredite:
<br>Que el Parque Industrial en el cual la empresa solicitante se encuentra radicada o próxima a radicarse se encuentra inscripto o en proceso de inscripción en el Registro Nacional de Parques Industriales.
<br>Que la actividad de la empresa peticionante resulta susceptible de ser realizada en dicho parque.
<br>A los efectos de solicitar tal constancia, la empresa deberá presentar nota ante la Unidad de Desarrollo Industrial Local (UDIL) (Av. Julio A. Roca 651 – P3° - Of.22 - C.A.B.A. (C1067ABB) o por email a: creditoparques@industria.gob.ar.
<br>Reunida la documentación detallada precedentemente, deberá presentarse ante la Unidad de Desarrollo Industrial Local (UDIL) en Av. Julio A. Roca 651 – P3° - Of.22 - C.A.B.A.(C1067ABB) 
<br>La Subsecretaria de Financiamiento de la Producción realizará la evaluación de la solicitud y la documentación presentada a efectos de declarar la elegibilidad o rechazar la solicitud presentada.
<br>La declaración de elegibilidad, a los efectos de calificar para solicitar un crédito con tasa bonificada por el Ministerio de Producción ante el Banco de la Nación Argentina, será notificada al empresario solicitante y al Banco, a los efectos de que inicie la gestión del crédito ante la sucursal del Banco señalada en la presentación.
<br>Cualquier duda o dificultad que pudiera surgir, comunicarse con rbt@produccion.gob.ar.
<br>